
*_log.txt
*.log
LastExtraction.lst
D3D9.dll
D3DImm.dll
DDraw.dll
DXGI.dll
shot***.bmp
*.mem
LastExtraction.lst
Last_Crash_*.txt
Screenshots
Maps\Kriegler\backup
*kriegler[0-9]*.prj2
*kriegler.prj2
Maps\valley\backup
*valley[0-9]*.prj2
*valley.prj2
Maps\Egypt\backup
*egypt[0-9]*.prj2
*egypt.prj2
savegame.*
backgame.*
log_tom2pc.txt
autosave.prj
NG_Settings.bin
NG_Tom2Pc_Last_Log.txt
*.lnk
DETECTED CRASH.txt
db_patches_crash.bin
Script/.vscode/
Exported_*.txt
*.trw
Crash_Report_*.txt
db_patches_crash.bin
NG_Settings.bin
